diff a/lib/Kconfig b/lib/Kconfig	(rejected hunks)
@@ -307,12 +307,24 @@
 config LZ4HC_COMPRESS
 	tristate

 config LZ4_DECOMPRESS
 	tristate

+config LZ4K_COMPRESS
+	tristate
+
+config LZ4K_DECOMPRESS
+	tristate
+
+config LZ4KD_COMPRESS
+	tristate
+
+config LZ4KD_DECOMPRESS
+	tristate
+
 config ZSTD_COMPRESS
 	select XXHASH
 	tristate

 config ZSTD_DECOMPRESS
 	select XXHASH
